.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.para3{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 24px; 
 font-weight:normal; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para5{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style6{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #EAEAEA;
 word-wrap: break-word;}
.Style7{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 42px; 
 font-weight:normal; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style8{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style9{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style10{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style11{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style12{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style13{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style14{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style15{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style16{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style17{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 color: #FEFFFF;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.linkStyle_21{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_21:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_21:hover{color:#FF2600; text-decoration:underline;}
.Style24{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 color: #424242;
 word-wrap: break-word;}
.Style25{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 margin:0;
 color: #424242;
 word-wrap: break-word;}
.Style26{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 color: #5E5E5E;
 word-wrap: break-word;}
.Style27{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 22px; 
 font-weight:normal; 
 margin:0;
 color: #5E5E5E;
 word-wrap: break-word;}